<a href="https://colab.research.google.com/github/Prachiraj22526/python-full-class-coding/blob/main/python_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("enter 1st no.:"))
b = int(input("enter 2nd no.:"))
c = int(input("enter 3rd no.:"))

if (a>b) and (a>c):
  largest = a
elif (b>a)and (b>c):
  largest = b
else:
  largest = c
print("the largest number is",largest)

enter 1st no.:5
enter 2nd no.:90
enter 3rd no.:65
the largest number is 90

In [ ]:
even_sum = 0
for num in range(1,51):
  if num%2==0:
    print(num)
    even_sum = even_sum + num
    print("the sum of all even number in the range 1-50 is:",even_sum)

2
the sum of all even number in the range 1-50 is: 2
4
the sum of all even number in the range 1-50 is: 6
6
the sum of all even number in the range 1-50 is: 12
8
the sum of all even number in the range 1-50 is: 20
10
the sum of all even number in the range 1-50 is: 30
12
the sum of all even number in the range 1-50 is: 42
14
the sum of all even number in the range 1-50 is: 56
16
the sum of all even number in the range 1-50 is: 72
18
the sum of all even number in the range 1-50 is: 90
20
the sum of all even number in the range 1-50 is: 110
22
the sum of all even number in the range 1-50 is: 132
24
the sum of all even number in the range 1-50 is: 156
26
the sum of all even number in the range 1-50 is: 182
28
the sum of all even number in the range 1-50 is: 210
30
the sum of all even number in the range 1-50 is: 240
32
the sum of all even number in the range 1-50 is: 272
34
the sum of all even number in the range 1-50 is: 306
36
the sum of all even number in the range 1-50 is: 342
38
the sum of all even number in the range 1-50 is: 380
40
the sum of all even number in the range 1-50 is: 420
42
the sum of all even number in the range 1-50 is: 462
44
the sum of all even number in the range 1-50 is: 506
46
the sum of all even number in the range 1-50 is: 552
48
the sum of all even number in the range 1-50 is: 600
50
the sum of all even number in the range 1-50 is: 650

In [ ]:
lower = 20
upper = 50
print("prime numbers between",lower,"and", upper, "are:")
for num in range(lower,upper+1):
  if num > 1:
    for i in range(2,num):
      if (num % i) == 0:
        break
    else:
      print(num)

prime numbers between 20 and 50 are:
23
29
31
37
41
43
47

In [ ]:
a = int (input ("enter 1st number:"))
b = int (input ("enter 2nd number:"))
print("before swapping: a=",a,", b=",b)
a = a+b
b = a-b
a = a-b
print("after swapping:a=",a,",b=",b)

enter 1st number:4
enter 2nd number:9
before swapping: a= 4 , b= 9
after swapping:a= 9 ,b= 4

In [ ]:
def name():
  return "Raj","John"
print(name())
name_1,name_2 = name()
print(name_1,name_2)

('Raj', 'John')
Raj John

In [ ]:
def name():
  n1 = "Raj"
  n2 = "John"
  return{1:n1,2:n2}
names = name()
print(names)

{1: 'Raj', 2: 'John'}

In [24]:
a = int(input("enter the 1st number:"))
b = int(input("enter the 2nd number:"))
print("\n numbers before swapping:")
print("first number:",a)
print("second number:",b)
(a,b) = (b,a)
print("\n numbers after swapping:")
print("first number:",a)
print("second number:",b)

enter the 1st number:4
enter the 2nd number:5

 numbers before swapping:
first number: 4
second number: 5

 numbers after swapping:
first number: 5
second number: 4